/**
 * @name dracula
 * @description A dark, rounded discord theme with a Dracula color palette.
 * @author ayu, refact0r
 * @version 1.6.2
*/

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font */
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Dracula';

	/* thickness of messages divider */
	--divider-thickness: 3px;

	/* color of status indicators and window controls */
	--online-indicator: #50fa7b; /* Dracula green */
	--dnd-indicator: #ff6e6e; /* Dracula red */
	--idle-indicator: #f1fa8c; /* Dracula yellow */
	--streaming-indicator: #bd93f9; /* Dracula purple */

	/* accent colors */
	--accent-1: #8be9fd; /* Dracula cyan */
	--accent-2: #ff79c6; /* Dracula pink */
	--accent-3: #bd93f9; /* Dracula purple */
	--accent-4: #ff79c6; /* Dracula pink */
	--accent-5: #ff5555; /* Dracula red */
	--mention: rgba(189, 147, 249, 0.08); /* Dracula purple with alpha */
	--mention-hover: rgba(189, 147, 249, 0.04); /* Dracula purple with alpha */

	/* text colors */
	--text-0: #f8f8f2; /* Dracula foreground */
	--text-1: #f8f8f2; /* Dracula foreground */
	--text-2: #f8f8f2; /* Dracula foreground */
	--text-3: #f8f8f2; /* Dracula foreground */
	--text-4: #bfbfbf; /* Dracula comment */
	--text-5: #97a7da; /* Dracula comment */

	/* background and dark colors */
	--bg-1: #44475a; /* Dracula selection */
	--bg-2: #282a36; /* Dracula selection */
	--bg-3: #343746; /* Dracula current line */
	--bg-4: #282a36; /* Dracula background */
	--hover: #343746; /* Dracula current line */
	--active: #44475a; /* Dracula selection */
	--message-hover: #21222c; /* Dracula background */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none; /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}

.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background-image: url('https://raw.githubusercontent.com/Ace-c/Memories/refs/heads/main/Asset/discord.png');
	background-color: transparent !important;
	background-size: cover;
	background-position: center;
}
