@define-color background #282a36;
@define-color on-background #f8f8f2;
@define-color primary #bd93f9;
@define-color primary-container #1D1E25;
@define-color on-primary #303240;
@define-color on-primary-container #bd93f9;
@define-color secondary #6272a4;
@define-color on-secondary #f8f8f2;
@define-color secondary-container #202129;
@define-color on-secondary-container #f8f8f2;
@define-color workspace-active #50fa7b;
@define-color error #ff5555;
@define-color error-container #ff5555;
@define-color on-error #282a36;
@define-color on-error-container #f8f8f2;
@define-color outline #6272a4;
@define-color surface #282a36;
@define-color on-surface #f8f8f2;
@define-color surface-variant #696c85;
@define-color on-surface-variant #f8f8f2;
@define-color shadow #191a21;
@define-color surface-tint #bd93f9;
@define-color load #f1fa8c;
@define-color clock #ffca80;
@define-color red #ff9580;
@define-color cava #4e5061;
@define-color network #ffffff;
@define-color updates #ffca80;
@define-color playerctl-1 #ff79c6;
@define-color playerctl-2 #bd93f9;