@define-color background #1e2326;
@define-color on-background #d3c6aa;
@define-color primary #a7c080;
@define-color on-primary #374145;
@define-color primary-container #414b50;
@define-color on-primary-container #d3c6aa;
@define-color secondary #e67e80;
@define-color on-secondary #2b3339;
@define-color secondary-container #293136;
@define-color on-secondary-container #d3c6aa;
@define-color workspace-active #dbbc7f;
@define-color error #e67e80;
@define-color error-container #e67e80;
@define-color on-error #2b3339;
@define-color on-error-container #d3c6aa;
@define-color outline #7a8478;
@define-color surface #343f44;
@define-color on-surface #d3c6aa;
@define-color surface-variant #4a575e;
@define-color on-surface-variant #d3c6aa;
@define-color shadow #232a2e;
@define-color surface-tint #a7c080;
@define-color outline-variant #7a8478;
@define-color load #d3c6aa;
@define-color clock #dbbc7f;
@define-color red #e67e80;
@define-color cava #d3c6aa;
@define-color updates #e69875;
@define-color network #d3c6aa;
@define-color playerctl-1 #dbbc7f;
@define-color playerctl-2 #e69875;