@define-color background #1d1d1d;
@define-color on-background #fcfcfa;
@define-color primary #a9dc76;
@define-color primary-container #424d2f;
@define-color on-primary #2d2a2e;
@define-color on-primary-container #fcfcfa;
@define-color secondary #ff6188;
@define-color on-secondary #2d2a2e;
@define-color secondary-container #30302c;
@define-color on-secondary-container #fcfcfa;
@define-color workspace-active #ffd866;
@define-color error #ff6188;
@define-color error-container #ff6188;
@define-color on-error #2d2a2e;
@define-color on-error-container #fcfcfa;
@define-color outline #727072;
@define-color surface #2d2a2e;
@define-color on-surface #fcfcfa;
@define-color surface-variant #403e41;
@define-color on-surface-variant #fcfcfa;
@define-color shadow #221f22;
@define-color surface-tint #a9dc76;
@define-color outline-variant #727072;
@define-color scrim #221f22;
@define-color clock #a9dc76;
@define-color red #ff6188;
@define-color cava #d5c4a1;
@define-color updates #f07a3c;
@define-color network #d8e6ba;
@define-color playerctl-1 #ffd866;
@define-color playerctl-2 #fc9867;
