@define-color background #1d1d1d;
@define-color on-background #fbf1c7;
@define-color primary #b8bb26;
@define-color primary-container #45453d;
@define-color on-primary #4d4040;
@define-color on-primary-container #fcfcfa;
@define-color secondary #ff6188;
@define-color on-secondary #2d2a2e;
@define-color secondary-container #30302c;
@define-color on-secondary-container #fcfcfa;
@define-color workspace-active #f095ad;
@define-color error #ff6188;
@define-color error-container #ff6188;
@define-color on-error #2d2a2e;
@define-color on-error-container #fcfcfa;
@define-color outline #727072;
@define-color surface #2d2a2e;
@define-color on-surface #fcfcfa;
@define-color surface-variant #403e41;
@define-color on-surface-variant #fcfcfa;
@define-color shadow #221f22;
@define-color surface-tint #b8bb26;
@define-color outline-variant #727072;
@define-color load #d8e6ba;
@define-color clock #b8bb26;
@define-color red #fb4934;
@define-color cava #83a598;
@define-color updates #fb4934;
@define-color network #fbf1c7;
@define-color playerctl-1 #ffd866;
@define-color playerctl-2 #fc9867;
