@define-color background #2e333f;
@define-color on-background #eceff4;
@define-color primary #88c0d0;
@define-color primary-container #5e81ac;
@define-color on-primary #2e3440;
@define-color on-primary-container #e5e9f0;
@define-color secondary #81a1c1;
@define-color on-secondary #2e3440;
@define-color secondary-container #3e4a5e;
@define-color on-secondary-container #e5e9f0;
@define-color workspace-active #ebcb8b;
@define-color error #bf616a;
@define-color error-container #d08770;
@define-color on-error #2e3440;
@define-color on-error-container #eceff4;
@define-color outline #4c566a;
@define-color surface #2e3440;
@define-color on-surface #eceff4;
@define-color surface-variant #3b4252;
@define-color on-surface-variant #d8dee9;
@define-color shadow #242933;
@define-color surface-tint #88c0d0;
@define-color outline-variant #434c5e;
@define-color scrim #242933;
@define-color green #a3be8c;
@define-color red #bf616a;
@define-color cava #8fbcbb;
@define-color updates #d3869b;
@define-color network #d3daeb;
@define-color playerctl-1 #ebcb8b;
@define-color playerctl-2 #d08770;