* {
    main-bg:            #282a36ff;
    main-fg:            #f8f8f2ff;
    main-br:            #282a36ff;
    select-bg:          #44475aff;
    select-fg:          #f8f8f2ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
