* {
    main-bg:            #282828ff;
    main-fg:            #ffffffff;
    main-br:            #665c54ff;
    select-bg:          #1d2021ff;
    select-fg:          #000000ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
